body { margin: 0; font-family: sans-serif; }
body>header>nav ul {
    margin: 0 auto; min-width:100%; text-align:center;
    padding: 0;  color: White;
    background-color: Red;
    list-style-type: none;
}
body>header>nav a {
    display: block;
    padding: 1em;
    color: White;
    text-decoration: none;
}
body>header>nav>ul>li:hover>a,
body>header>nav>ul>li:focus-within>a,
body>header>nav>ul>li>ul>li>a:hover,
body>header>nav>ul>li>ul>li>a:focus {
    background-color: Purple;
}
body>header>nav>ul>li {
    position: relative; list-style-type:none;
    display: inline-block; 
}
body>header>nav>ul>li>ul {
    display: none;
}
body>header>nav>ul>li:hover>ul,
body>header>nav>ul>li:focus-within>ul {
    position: absolute;
    display: block;
    z-index: 1;
    white-space: nowrap;
}
body>main {
    padding: 1em; background-color:yellow;
}

body>header>nav{ 
width:100%;
   }


body>div{
   display: inline-block;
   box-sizing: border-box;
   padding: 1em;
   width: 33.33%;
   vertical-align: top;
}

@media screen and (max-width: 600px){
  body{
    background-color: pink;    
   }
    body>header>nav>ul>li{
    float:none; width: 100%; text-align:left;
   }
}

@media print{
   body>header>nav>ul {
      display:none;
      }
  
   body> header {
      display: none;
      }   
}



@page { size: auto;  margin: 0mm; }



