@media screen and (min-width: 480px) {
      {
          #leftsidebar { width: 200px; float: left;}
	  #main { margin-left: 216px;   }
              }

         }

#main {  margin-left: 4p;  }

#leftsidebar { float: none; width: auto;   }



